<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

        <style>
            /* Apply this to all labels next to textareas */
            label {
            vertical-align: top;
            margin-top: 5px; /* Optional: adds a little space so it's not touching the very top edge */
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light">

            <div class="container-fluid">
              <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'index'%}">CD Tracker</a>
                    </li>
                    <li class="nav-item">
                        <form method="GET" action="{% url 'search' %}">
                            <input type="text" name="q" value="{{ query|default_if_none:'' }}" placeholder="Search">
                            <button type="submit" class="btn-secondary btn">Search</button>
                        </form>
                    </li>
                </ul>
            </div>

        </nav>
        {% block content %}{% endblock content %}
        <hr>
        <div class="container-fluid">
            <p>CD Tracker</p>
        </div>
    </body>
</html>