{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="margin: 3%;">
    <h1>CD Tracker!</h1>
    <p>Your own personal CD Tracker</p>
    <p ><a class="btn btn-light" href="{% url 'NewCD' %}">Add CD</a></p>
</div>

{% if query != null %}
<div class="container-fluid" style="margin: 3%;">
    <p><b>Search: {{query}}</b></p>
</div>
{% endif %}


<div class="container-fluid" style="margin: 3%;">
    <h2>CDs</h2>
    <ul id="CDs">
        {% for CD in CDs %}
            {% if CD.other == "" %}
                {% if CD.album != "" and CD.band != "" %}
                    <li>{{CD.band}}: {{CD.album}}</li>
                {% elif CD.band != "" %}
                    <li>{{CD.band}}</li>
                {% elif CD.album != "" %}
                    <li>{{CD.album}}</li>
                {% endif %}
            {% else %}
                {% if CD.album != "" and CD.band != "" %}
                    <li><a class="link-main-page" href="{% url 'cd_view' CD.id  %}">{{CD.band}}: {{CD.album}}</a></li>
                {% elif CD.band != "" %}
                    <li><a class="link-main-page" href="{% url 'cd_view' CD.id  %}">{{CD.band}}</a></li>
                {% elif CD.album != "" %}
                    <li><a class="link-main-page" href="{% url 'cd_view' CD.id  %}">{{CD.album}}</a></li>
                {% endif %}
            {% endif %}
            {% empty %}
            <li>No CDs found</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}